@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    height: 90px;
    width: 100%;
    background: rgba(255, 255, 255, 0.65);
    z-index: 1000;
    text-align: center;
    font-family: 'Merriweather', serif;
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    top: 40%;
    left: 10%;
    float: left;
    font-size: 1.3em;
}

nav ul {
    width: 100%;
    display: flex;
}

.nav-logo {
    font-weight: 800;
}

.nav-links {
    position: absolute;
    display: flex;
    left: 20%;
    width: 85%;
}

.nav-links li {
    padding: 0 25px;
}

.nav-links a, .nav-btn a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    transition: .5s;
}

.nav-links ul a:hover {
    text-decoration: none;
    color: rgb(37, 154, 208);
    font-weight: 700;
    transition: .5s;
}

.nav-btn {
    position: absolute;
    right: 0;
    background: rgb(37, 154, 208);
    border-radius: 3px;
    padding: 20px 30px;
    margin-top: -20px;
}

.nav-btn a:hover{
    font-weight: 700;
    transition: .5s;
}

.nav-btn:hover {
    border-radius: 10px;
    transition: .5s;
}

.hero {
    background-image: url(images/hero-bg-2.jpg);
    position: relative;
    height: 100vh;
}

.hero-content {
    position: absolute;
    top: 45%;
    left: 10%;
    background: #d49161ea;
    width: 60%;
    justify-content: center;
    padding: 40px 60px;
    border-radius: 3px;
}

.hero-content h1 {
    font-size: 1.5em;
    line-height: 1.6em;
}

.hero-content p {
    font-size: 1.3em;
    line-height: 1.3em;
}


/* .container {
    margin: 0px auto;
    padding: 0px;
    border: 29px;
    border-color: black;
}

h1 {
    text-align: center;
    background-color: darkslategray;
    color: #eee;
    font-size: 28px;
    line-height: 80px;
    margin: 0px;
    padding: 0px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 24px;
}

body {
    background-color: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    margin: 0px;
    padding: 0px;
}

#main-bio, #contact-info, #bio-image {
    float: left;
}

#main-bio {
    width: 60%;
    margin-left: 25px;
}

#bio-image {
    width: 200px;
    margin-right: 25px;
}

#contact-info {
    margin-left: 25px;
}

#content-info {
    width: 40%;
    line-height: 1.5;
}

a {
    font-color: #d21034;
} */