@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 30px 10%;
    background-color: #14354D;
    z-index: 1000;
}

.nav-logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

#about {
    position: relative;
    z-index: 100;
}

#about:hover::after {
    content: "about";
    position: absolute;
    top: .7rem;
    left: .6rem;
    color: #F7DE59;
    transform: rotate(-20deg);
}

#services {
    position: relative;
    z-index: 100;
}

#services:hover::after {
    content: "services";
    position: absolute;
    top: .7rem;
    left: .6rem;
    color: #F7DE59;
}

#projects {
    position: relative;
    z-index: 100;
}

#projects:hover::after {
    content: "projects";
    position: absolute;
    top: .7rem;
    left: .6rem;
    color: #F7DE59;
    transform: rotate(20deg);
}

/* .nav-links li a:hover {
    color: #F7DE59;
} */

button {
    padding: 9px 25px;
    background-color: #3498db;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #2980b9;
}

.hero {
    background-image: url(images/hero-bg-2.jpg);
    position: relative;
    height: 100vh;
}

.hero-content {
    position: absolute;
    top: 45%;
    left: 10%;
    background: #f7de59;
    width: 60%;
    justify-content: center;
    padding: 40px 60px;
    border-radius: 1px;
}

.hero-content h1 {
    font-size: 1.5em;
    line-height: 1.6em;
}

.hero-content p {
    font-size: 1.3em;
    line-height: 1.3em;
}


/* .container {
    margin: 0px auto;
    padding: 0px;
    border: 29px;
    border-color: black;
}

h1 {
    text-align: center;
    background-color: darkslategray;
    color: #eee;
    font-size: 28px;
    line-height: 80px;
    margin: 0px;
    padding: 0px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 24px;
}

body {
    background-color: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    margin: 0px;
    padding: 0px;
}

#main-bio, #contact-info, #bio-image {
    float: left;
}

#main-bio {
    width: 60%;
    margin-left: 25px;
}

#bio-image {
    width: 200px;
    margin-right: 25px;
}

#contact-info {
    margin-left: 25px;
}

#content-info {
    width: 40%;
    line-height: 1.5;
}

a {
    font-color: #d21034;
} */